<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Adissa Vehabovic</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>lSWvmnfJXohPMyNcr+rdP/kxS2kHr0b+pq2tFNy73Vk2uiFMNpUCIp7t0ZC+h/sx</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.4">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.47">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.17">
      <emailAddress>adissa.vehabovic@1und1.de</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
        <string>diydevops</string>
        <string>ROLE_ADMINS</string>
        <string>validusers</string>
        <string>ROLE_VALIDUSERS</string>
        <string>admins</string>
        <string>ROLE_DIYDEVOPS</string>
      </roles>
      <timestamp>1472722260527</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>